/* Top Section (Logo and App Title) */
/* Used in application-app-info.html, application-personal-info.html, student-review.html, application-details.html*/
.logo-and-title {
    margin: 5rem auto 5.5rem;
}

.iztech-logo {
    float: left;
    margin-block-start: -2.5rem;
}

.school-title {
    margin-left: 10rem;
}


/* Common among files & sections */
.container {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}


/* Application Form Section */
/* Used in application-app-info.html*/
#passport-input-field {
    display: none;
}

#permission-letters-input {
    display: none;
}

#grad-transcript-input {
    display: none;
}

#basic-settings {
    margin: 4rem auto auto 3rem;
}