/* Used with application-details.html */

.docs-info{
    padding-bottom: 7rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
}

.below-logo-line {
    margin-top: 3rem;
}

.input-title{
    font-size: medium;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: red;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }

  .slidecontainer{
      margin: 0.55rem;
  }


#content-container{
  visibility: hidden;
}