
/* Used with dept-list-applications.html, list-applications.html */

.details-link{
    font-size: small;
    margin-top: 0.5rem;
}

.verification-text{
    font-size: small;
    margin-top: 0.5rem;
}

.order-no {
    margin: 0.5rem 0.5rem 1rem auto;
    font-size: medium;
}

.applicant-info{
    margin-left: -2.5rem;
}

[type="checkbox"]+span:not(.lever){
    font-size: small;
}

.applicant-row{
    cursor: pointer;
}

.submit-results-btn {
    background-color: #ee6e73;
    position: absolute;
    margin-right: 1rem;
    right: 0.5rem;
}